.sectionTitle {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  line-height: 175%;
  font-weight: 700;
  color: #13acbd;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bodyText {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  line-height: 150%;
  padding-bottom: 15px;
}

.svgFile {
  width: 200px;
  height: 180px;
}
